* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Body {

    margin: 30px;

}

/* Menú */


.Header-img {

    width: 4%;
    height: 4%;
}

.Header-top {

    display: flex;
    font-size: 5px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 10px;
    align-items: flex-end;

}

.Header-a--nav {
    color: black;


}

.Header-a--nav--black {

    text-decoration: none;
    list-style: none;
    color: black;

}

.Header-ul {

    margin-left: 880px;
    border-left: 20px;
    vertical-align: top;
    display: inline;
}

.Header-li {


    vertical-align: top;
    display: inline;
    font-size: 1.6em;
}


.Header-text {

    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 10px;

}

/* Imagenes*/


.Galeria {
    /*GRID*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);



}

.Galeria-img {
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    background-color: white;

}

/*Footer*/

.Footer {
    font-size: 100%;
    width: 100%;
   

}

.Footer-text {
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 10px;
}

.Footer-line{

    color: aqua;
    
    
}

.Footer-nav {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
    
    
}

.Footer-a--nav {

    text-decoration: none;
    list-style: none;
    color: black;

}

.Footer-li {
    
    vertical-align: top;
    display: inline;
    font-size: 0.5em;

}

.Footer-a--nav--rights {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-right: 740px;
    
}